<a href="#"
    class="card md:m-5 m-2 md:w-[250px] md:h-[300px] h-[250px] w-auto bg-white md:p-4 p-2 md:rounded-xl rounded border mx-auto">
    <div class="top h-4/5 w-full border">
        <div class="img h-full w-full flex items-center justify-center object-cover">
            <img src="/img/products/p1.jpg" class="h-full w-auto" alt="product name image">
        </div>
    </div>
    <div class="body h-1/5">
        <div class="heading capitalize py-2 md:text-xl text-sm ">
            <%= name %>
        </div>
    </div>
</a>