<a href="#" class="category-card  w-[300px] h-[300px] bg-white m-5 rounded-xl">
    <div class="top w-full h-4/5">
        <div class="img h-full w-full flex items-center justify-center">
            <img src="/img/products/p1.jpg" class="h-4/5 w-auto" alt="product name image">
        </div>
    </div>
    <div class="bottom w-full h-1/5 border-t flex items-center justify-center">
        <h1 class="text-lg font-semibold text-center uppercase"> product name here</h1>
    </div>
</a>