<footer class="footer-section bg-gray-100 md:p-10 p-5">
    <div class="top py-5 mb-5 border-b">
        <h1 class="text-4xl font-bold tsecondary">Pharma Machinery & Spares</h1>
    </div>
    <div class="body border-b py-5">
        <ul class="flex items-start space-x-36">
            <li class="shrink-0">
                <h1 class="text-lg font-semibold uppercase">pages</h1>
                <ul class="capitalize">
                    <li class="my-2"><a href="/">home</a></li>
                    <li class="my-2"><a href="/">about us</a></li>
                    <li class="my-2"><a href="/">products</a></li>
                    <li class="my-2"><a href="/">contact us</a></li>
                    <li class="my-2"><a href="/">services</a></li>
                    <li class="my-2"><a href="/">enquiry</a></li>
                </ul>
            </li>
            <li class="shrink-0">
                <h1 class="text-lg font-semibold uppercase">categories</h1>
                <ul class="capitalize">
                    <li class="my-2"><a href="/">category name here</a></li>
                    <li class="my-2"><a href="/">category name here</a></li>
                    <li class="my-2"><a href="/">category name here</a></li>
                    <li class="my-2"><a href="/">category name here</a></li>
                    <li class="my-2"><a href="/">category name here</a></li>
                    <li class="my-2"><a href="/">category name here</a></li>
                </ul>
            </li>
            <li class="flex-auto">
                <p class="para">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat expedita unde nulla placeat
                    consequatur aperiam libero, maxime impedit, eveniet, nihil dolorum molestias quasi error deserunt
                    rerum officiis laudantium saepe atque omnis labore accusantium ab commodi. Pariatur sint officiis
                    debitis possimus exercitationem, dolorum magni quam error perferendis necessitatibus expedita
                    ducimus alias.
                </p>
            </li>
        </ul>
    </div>
</footer>