<div class="page-header relative md:h-[400px] h-[300px] w-full bg-black">
    <div class="heading absolute top-1/2 left-1/2 z-20 w-full text-center" style="transform: translate(-50%, -50%);">
        <h1 class=" md:text-7xl text-4xl text-white font-bold uppercase">
            <%= heading %>
        </h1>
    </div>
</div>