<%- include("../components/pageheader", {heading: "contact us" }) %>

    <section class="contact-section md:h-[400px] w-full md:p-10 p-5">
        <div class="wrapper flex items-center h-full w-full">
            <div class="img h-full mr-5 md:block hidden"><img src="/img/background/b2.jpg" class="h-full  object-cover"
                    alt="background image">
            </div>
            <div class="details md:text-lg text-md ">
                <h1 class="name md:text-5xl text-3xl font-bold">Pharma Machinery & Spares</h1>
                <p class="emails my-3">pharmamachineryspares@gmail.com</p>
                <p class="phone my-3">00000 00000 / 00000 00000</p>
                <div class="addresses my-3">
                    <p class="address my-2">
                        12, street, asdjfalskfdja,as dfaskdfoasjfdaslkfd,
                    </p>
                    <p class="address my-2">
                        12, street, asdjfalskfdja,as dfaskdfoasjfdaslkfd,
                    </p>
                </div>
            </div>
        </div>
    </section>