<section class="py-10 md:px-10 px-5">
    <div>
        <div class="flex">
            <div class="img shrink-0 h-[500px] w-[600px] p-5 flex items-center justify-center bg-gray-50">
                <img src="/img/products/p1.jpg" alt="product name image here" class="h-full w-1/2 object-cover">
            </div>
            <div class="category-list md:px-10 px-5 w-full">
                <ul class="list capitalize text-xl">
                    <li class="list-item py-3 border-b w-full"><a href="/">category name here</a></li>
                    <li class="list-item py-3 border-b w-full"><a href="/">category name here</a></li>
                    <li class="list-item py-3 border-b w-full"><a href="/">category name here</a></li>
                    <li class="list-item py-3 border-b w-full"><a href="/">category name here</a></li>
                    <li class="list-item py-3 border-b w-full"><a href="/">category name here</a></li>
                    <li class="list-item py-3 border-b w-full"><a href="/">category name here</a></li>
                </ul>
                <div class="flex space-x-5 py-5">
                    <a href="/enquiry" class="btn">enquiry</a>
                    <a href="/contact" class="btn">contact</a>
                </div>
            </div>
        </div>
        <div class="details md:py-10 py-5">
            <div class="title text-4xl font-semibold capitalize">title will here</div>
            <div class="desc mt-10">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae expedita
                obcaecati voluptas velit odit aperiam veniam eius sint fuga, reiciendis enim quisquam ad ipsam cum?
                Autem, id. Fugit in architecto vero laboriosam sed impedit ratione ea omnis, iusto amet quidem atque
                consectetur dolore, pariatur asperiores sint iste eos sequi repellat dignissimos enim sunt? Ratione,
                voluptas nemo! Eius, tempora ut sint doloremque iusto magnam quisquam sed temporibus saepe incidunt
                tenetur officia! Dignissimos tempora, modi eveniet dolorem voluptas voluptate expedita impedit atque,
                natus libero doloribus deleniti velit officiis praesentium? Eveniet voluptas repellendus veritatis, id
                nobis recusandae tempora distinctio, pariatur temporibus autem fuga. <br><br>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta eveniet architecto voluptatum ratione
                sapiente et nesciunt hic placeat illo velit ea quasi nulla, dolorum beatae accusantium doloribus neque
                eius molestias aliquid pariatur explicabo vitae! Quo eum facilis doloremque. Aspernatur placeat ipsam
                cum repellat voluptas ut, velit, tenetur minus voluptate dolorem, doloribus atque iure error quos sint
                fugiat ipsa! Sint debitis ea distinctio. Hic dicta recusandae expedita odio totam, nulla facere nam
                illum perferendis sed, sapiente laboriosam veritatis ex placeat magni quaerat sit neque! Ab, esse. Eaque
                rerum molestiae voluptatum molestias iusto repellendus dolore reprehenderit tenetur enim aliquam ratione
                corrupti delectus consectetur, a, dolorem aut non earum nisi facere repellat aspernatur minus! Minus
                voluptates sit fugit omnis delectus ipsam molestias odio, excepturi quisquam. Voluptatum iusto quasi ex
                soluta cumque distinctio laborum adipisci, obcaecati commodi dicta neque possimus sit, labore atque
                ipsam itaque sed, eligendi error! Minima dolore consequuntur ullam numquam quos at quis incidunt illum
                esse quo non ipsa magnam harum nam iure maiores similique earum, sint soluta dolorum. Tempore labore
                possimus dolor dolorem eum, illo eaque natus aperiam dicta illum? Ipsa debitis laborum natus dolor.
                Placeat amet, optio consequuntur possimus iste earum! Adipisci autem sit perferendis quaerat impedit,
                cumque velit! <br><br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda vero cupiditate consequatur dicta
                nihil labore, minima alias eum delectus voluptatum doloribus ipsam architecto natus quas illo at
                necessitatibus cum pariatur excepturi. Corrupti dolore sunt, harum iste necessitatibus dolores amet fuga
                quo dicta, dolorum tempora odio dolor hic, voluptate ullam magni?
            </div>
        </div>
    </div>
    <div class="btn-container w-full h-auto flex items-center pb-10">
        <a href="#" class="btn">get more</a>
    </div>
</section>